@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, 'Vesper Libre',
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@font-face { 
  font-family: Indus; 
  src: url('/fonts/sk_indus_script-webfont.ttf'); 
} 

#__next {
  height: 100%;
  width: 100%;
}
